<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Cadastro Usuários</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <header>
      <h1>Cadastro de Usuários</h1>
      <nav><a href="{{ url_for('index') }}">Lista</a> | <a href="{{ url_for('register') }}">Cadastrar</a></nav>
      <hr>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
