body {
  font-family: Arial, sans-serif; 
  background: #8b88e1; 
  text-align: center;
  padding: 50px;
}

form {
  background: white; 
  text-align: left; 
  padding: 80px; 
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /
}

label {
  display: block; 
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

button[type="submit"] {
  background-color: #007bff; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
